body {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 100, "SCAN" -40;

  margin: 0;
}

#load {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 15px;

  color: white;
  background-color: black;

  z-index: 100;
}

.desktop {
  height: 100vh;
  width: 100%;
  background-color: teal;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: gray;
}
